@{
  Layout = "_Layout";
}

<div class="centerBlock">
  <h1>Pierre's Fine & Fancy Treats & Eats</h1><br />
  <div class="column2">
    <p>TBD Section</p>
  </div>
  <div class="column2">
    <p>@Html.ActionLink("treat menu", "Index", "Treats")</p>
  </div>
  <div class="column2">
    <p>@Html.ActionLink("browse by flavor", "Index", "Flavors")</p>
  </div>
</div>

<div>
  <h5>Temporary Admin Panel</h5>
  <p>@Html.ActionLink("add a treat", "Create", "Treats")</p>
  <p>@Html.ActionLink("add a flavor", "Create", "Flavors")</p>
  <p>@Html.ActionLink("register as admin", "Index", "Account")</p>
</div>