@{
  Layout = "_Layout";
}

@using TreatMogul.Models
@model TreatMogul.Models.Flavor

<h4>@Model.Taste</h4>

@if (@Model.JoinEntities.Count == 0)
{
  <p>There are currently no treats that come in @Model.Taste flavor</p>
}
else
{
  <p>@Model.Taste Treats</p>
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>
        @join.Treat.Crub
        @if (User.Identity.IsAuthenticated)
        {
          @using (Html.BeginForm("DeleteTreat", "Flavors"))
          {
            @Html.Hidden("joinId", @join.RecipeId)
            <input class="noButton" type="submit" value="Remove this Treat" />
          }
        }
      </li>
    }
  </ul>
}

<div class="warningsBlock">
  <p>Warning: @Model.Cautions</p>
</div>

@if (User.Identity.IsAuthenticated)
{
  <div class="adminPanel">
    <hr>
    <h5>Admin Options</h5>
    <p>@Html.ActionLink("Add a Treat in this Flavor", "AddTreat", new {id = Model.FlavorId})</p>
    <p>@Html.ActionLink("Edit this Flavor", "Edit", new {id = Model.FlavorId})</p>
    <p>@Html.ActionLink("Remove from Menu", "Delete", new {id = Model.FlavorId})</p>
  </div>
}