@{
  Layout = "_Layout";
}

@using TreatMogul.Models
@model TreatMogul.Models.Treat

<h4>@Model.Crub</h4>
<ul>
  <li>Batch Size: @Model.BatchSize</li>
  <li>Price/Batch: @Model.TreatPrice</li>
  <li>Is it any good?: @if(@Model.Yummy == true) 
    {
      <span>Yes! :D</span>
    }
    else 
    {
      <span>No. Its bad. :[</span>
    }
  </li>
</ul>

@if (@Model.JoinEntities.Count == 0)
{
  <p>There are currently no special flavors for this treat</p>
}
else
{
  <p>@Model.Crub Special Flavors</p>
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>
        @join.Flavor.Taste
      </li>
    }
  </ul>
}

  <div class="adminPanel">
    <hr>
    <h5>Admin Options</h5>
    <p>@Html.ActionLink("Add a Special Flavor for this Treat", "AddFlavor", new {id = Model.TreatId})</p>
  </div>