@{
  Layout = "_Layout";
}

@using TreatMogul.ViewModels

@model RegisterViewModel

<h2>Register as Admin</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  @Html.LabelFor(user => user.Username)
  @Html.TextBoxFor(user=> user.Username)

  @Html.LabelFor(user=> user.Password)
  @Html.PasswordFor(user=> user.Password)

  @Html.LabelFor(user=> user.ConfirmPassword)
  @Html.PasswordFor(user=> user.ConfirmPassword)

  <input type="submit" value="Register" />
}